
*{
    padding: 0;
    margin: 0;
    color:white;

}
#navbar{
    height: 60px;
    background-color: #0f1111;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 150px;
    
}
#logo{
    color: #f08804;
    font-size: 25px;

}
button{
    background-color: #f08804;
}
.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display:inline-block;
}
footer{
    text-align: center;
    color: aliceblue;
    background-color: black;
    
}

.box{
    height: 100px;
    width: 100px;
    background-color: burlywood;
    border: 2px solid black;

}

