div{
    background-color: black;
    height: 400px;
    width: 100px
}

    


h1{
    width: 100px;
    height: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 50%;
    background-color: brown;
}
h2{
    width: 100px;
    height: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 50%;
    background-color: yellow;

}
h3{
    width: 100px;
    height: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 50%;
    background-color: green;
}