*{
    padding: 0;
    margin: 0;
    color:white;

}
#navbar{
    height: 60px;
    background-color: #0f1111;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 200px;
    
}
#logo{
    color: #f08804;
    font-size: 25px;

}
button{
    background-color: #f08804;
}

